<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../styles/css.css" th:href="@{../styles/css.css}" />
</head>
<body>

<div th:replace="header :: header"></div>

<table>
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr >
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUserlogin()}"></td>
        <td th:text="${user.getName}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td> <span th:each="role, iterStat  : ${user.getRoles()}" th:text="${iterStat.last}? ${role.getRole()} : ${role.getRole() + ', '}"></span></td>
    </tr>
</table>
</body>
</html>