<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="p-2 col-6 bg-dark text-left text-white">
            <span class="h5 font-weight-bold"
            ></span><span class="h5">  with roles: </span>
            <span class="h5"
            >
            </span>

        </div>
        <div class="p-2 col-6 bg-dark text-right">
            <a class="text-secondary" href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
            <form name="logoutForm" action="/logout" method="post">
                <input hidden type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="p-2 col-2">
            <nav class="nav flex-column">
            </nav>
        </div>
        <div class="p-2 col-10 bg-white">
            <h1 class="display-4"><small>User information page</small></h1>
            <div class="card mr-4">
                <div class="card-header">
                    <h5 class="font-weight-bold">About user</h5>
                </div>
                <div class="card-body">
                    <hr>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript">

    function waitForElement(selector) {
        return new Promise(function (resolve, reject) {
            var element = document.querySelectorAll(selector)[0];

            if (element) {
                resolve(element);
                return;
            }
            var observer = new MutationObserver(function (mutations) {
                mutations.forEach(function (mutation) {
                    var nodes = Array.from(mutation.addedNodes);
                    for (var node of nodes) {
                        if (node.matches && node.matches(selector)) {
                            observer.disconnect();
                            resolve(node);
                            return;
                        }
                    }
                });
            });
            observer.observe(document.documentElement, {childList: true, subtree: true});
        });
    }

    const setHeader = (data) => {
        let headerData = '<span class="h5 font-weight-bold">' + data.userEmail +
            '</span><span class="h5">  with roles: </span><span class="h5">' + data.roles.map(e => " " + e.role) + '</span>';
        document.querySelectorAll(".p-2.col-6.bg-dark.text-left.text-white")[0].innerHTML = headerData;
    }

    const makeMenu = (data) => {
        let menuData = "";
        if (isAdmin(data)) {
            menuData = '<a class="nav-link ml-n2 mt-2 mr-4" aria-current="page" href="../admin/adminpanel">Admin</a>'
        }
        menuData += '<a class="nav-link active bg-primary text-white rounded ml-n2 mt-2 mr-4" href="#">User</a>';
        document.querySelectorAll(".flex-column")[0].innerHTML = menuData;
    }

    const getData = async (url) => {
        const res = await fetch(url)
        const json = await res.json()
        return json
    }

    const isAdmin = (data) => {
        for (i = 0; i < data.roles.length; i++) {
            if (data.roles[i].role.includes("ADMIN")) {
                return true
            }
        }
        return false;
    }

    const updateTable = (d) => {
        let tableData = "";

        tableData += "<tr><td>" + d.id + "</td>";
        tableData += "<td>" + d.name + "</td>";
        tableData += "<td>" + d.surname + "</td>";
        tableData += "<td>" + d.age + "</td>";
        tableData += "<td>" + d.userEmail + "</td>";
        tableData += "<td>" + d.roles.map(e => " " + e.role) + "</td>";

        document.getElementsByTagName("tbody")[0].innerHTML = tableData;
    }

    waitForElement(".p-2.col-6.bg-dark.text-left.text-white").then(function (element) {
        getData("../api/all/whois")
            .then(result => {
                setHeader(result);
                updateTable(result);
                makeMenu(result)
            })
            .catch(error => console.log(error.message))
    });

</script>
</body>
</html>